body, html {
    text-align: center;
    color: white;
    height: 100%;
    margin: 0%;
    font-family: 'Metal Mania';
    font-size: 40px;
    background-color: #111;
}

.bg1 {
    /* The image used */
    background-image: url("drums1.jpeg");
    /* background: black; */
  
    /* Full height */   
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hotlist a {
    text-decoration: none;
}

span.border {
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h1 {
    color: white;
    font-size: 100px;
    background-color: rgb (0, 40, 77);
}

a {
    text-decoration: underline;
    color: white;   
}

table {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

thead {
    font-weight: bold;
}
