body, html {
    color: white;
    height: 100%;
    margin: 0%;
    font-family: 'Metal Mania';
    font-size: 40px;
    background-color: #111;
}

.bg1 {
    /* The image used */
    background-image: url("drums1.jpeg");
    /* background: black; */
  
    /* Full height */   
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.home{
    text-align: center;
    margin-left: 3%;
    font-size: 30px;
}

.hotlist a,.home a {
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 100px;
}

a {
    text-decoration: underline;
    color: white;   
}